.card-header{
  height:8;
}


.titulo-categoria {
  color: rgb(20, 20, 20);
  font-size: 1.8rem;
  border-bottom: 3px solid #155f9b !important;
  display: inline-block;
  padding-bottom: .5rem;
  padding-right: 2rem;
}



.categorias-bg {
  background-color: rgb(178, 202, 230) ;
  .nav-link {
      color: rgb(49, 48, 48)!important;
      display: inline-block;
      padding-top: .5rem;
      padding-bottom: .1rem;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      font-size: 1rem!important;
      text-transform: uppercase;
     
      &:before, &:after {
          content: '';
          position: absolute;
          transition: transform .5s ease;
      }
      &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: #155f9b;
        transform:  translateX(-100%);
      }
      &:hover:before {
        transform:  translateX(0);
      }
  
}
}


.card:hover{
  transform: scale(1.1); 
}


.hero-categorias {
  background-image: linear-gradient(to bottom, rgba(70, 70, 70, 0.4), rgba(53, 53, 53, 0.571)),
url('../images/cintaMundo.jpg');
  height:30rem;
  background-size: cover;
  background-position: top center;
  .texto-buscar {
      p {
          font-size: 1.4rem;
          color: #FFF;
      }
  }
}